In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("rond1000.csv")

In [3]:
df.head()

     phone_number       price status   city     time
0  0912 69 88 709  10,250,000    صفر  تهران  6 ثانیه
1  0912 672 0 962  11,500,000    صفر  تهران  6 ثانیه
2  0912 538 67 32  11,150,000    صفر  تهران  6 ثانیه
3   0912 794 7800  17,600,000    صفر  تهران  6 ثانیه
4  0912 216 91 46  27,700,000    صفر  تهران  6 ثانیه

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   phone_number  40000 non-null  object
 1   price         40000 non-null  object
 2   status        40000 non-null  object
 3   city          40000 non-null  object
 4   time          39687 non-null  object
dtypes: object(5)
memory usage: 1.5+ MB