In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("rond1000.csv")

In [36]:
df.head()

     phone_number       price status   city     time
0  0912 69 88 709  10,250,000    صفر  تهران  6 ثانیه
1  0912 672 0 962  11,500,000    صفر  تهران  6 ثانیه
2  0912 538 67 32  11,150,000    صفر  تهران  6 ثانیه
3   0912 794 7800  17,600,000    صفر  تهران  6 ثانیه
4  0912 216 91 46  27,700,000    صفر  تهران  6 ثانیه

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   phone_number  40000 non-null  object
 1   price         40000 non-null  object
 2   status        40000 non-null  object
 3   city          40000 non-null  object
 4   time          39687 non-null  object
dtypes: object(5)
memory usage: 1.5+ MB

In [38]:
def process_price(price):
    price = price.replace(',' , '')
    if price.isdigit():
        return int(price)
    return np.nan

In [39]:
df.price = df.price.apply(process_price)

In [40]:
df.head()

     phone_number       price status   city     time
0  0912 69 88 709  10250000.0    صفر  تهران  6 ثانیه
1  0912 672 0 962  11500000.0    صفر  تهران  6 ثانیه
2  0912 538 67 32  11150000.0    صفر  تهران  6 ثانیه
3   0912 794 7800  17600000.0    صفر  تهران  6 ثانیه
4  0912 216 91 46  27700000.0    صفر  تهران  6 ثانیه

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   phone_number  40000 non-null  object
 1   price         39471 non-null  float64
 2   status        40000 non-null  object
 3   city          40000 non-null  object
 4   time          39687 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.5+ MB

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   phone_number  40000 non-null  object
 1   price         0 non-null      float64
 2   status        40000 non-null  object
 3   city          40000 non-null  object
 4   time          39687 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.5+ MB

In [57]:
status_values = df.status.unique()

In [58]:
status_values

array(['صفر', 'کارکرده', 'در حد صفر'], dtype=object)

In [59]:
status_values[1] , status_values[2] = status_values[2] , status_values[1]

In [60]:
status_values

array(['صفر', 'در حد صفر', 'کارکرده'], dtype=object)

In [61]:
status_map = {status:index for index , status in enumerate(status_values)}

In [62]:
status_map

{'صفر': 0, 'در حد صفر': 1, 'کارکرده': 2}

In [65]:
df.status = df.status.map(status_map)

In [66]:
df.status

0        0
1        0
2        0
3        0
4        0
        ..
39995    0
39996    0
39997    0
39998    0
39999    0
Name: status, Length: 40000, dtype: int64

In [67]:
df.city.unique()

array(['تهران', 'گرگان', 'آمل', 'شمیرانات', 'اصفهان', 'شيراز', 'گناوه',
       'جهرم', 'رشت', 'کرج', 'قم', 'يزد', 'کرمان', 'اهواز', 'کرمانشاه',
       'دماوند', 'همدان', 'اردبيل', 'مشهد', 'شهرضا', 'بابلسر', 'قزوين',
       'کاشان', 'سمنان', 'ميانه', 'بندر عباس', 'ساری', 'اراک', 'تبريز',
       'گراش', 'خنج', 'لارستان', 'بهارستان', 'ورامين', 'دشتستان',
       'پيرانشهر', 'بابل', 'اسلام شهر', 'زنجان', 'نيشابور', 'دزفول',
       'فردیس', 'رفسنجان', 'شاهين شهر و میمه', 'اروميه', 'ری', 'بوشهر',
       'سنندج', 'ماکو', 'نائين', 'مبارکه', 'ساوه', 'بهشهر', 'رباط کريم',
       'شهرکرد', 'اليگودرز', 'پارس آباد', 'لنگرود', 'کازرون', 'شهريار',
       'آبادان', 'گنبد کاووس', 'ابهر', 'قشم', 'تربت حيدريه', 'گناباد',
       'بندر ماهشهر'], dtype=object)